<?xml version='1.0' encoding='utf-8'?>
  <!--com.ionicframework.starter为包名，在使用一些插件，如消息推送插件都会使用到该包名-->
<widget id="com.ionicframework.starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name><!--项目名称-->
    <description><!--项目描述-->
        An Ionic Framework and Cordova project.
    </description>
    <author email="you@example.com" href="http://example.com/">
      Your Name Here
    </author>
    <content src="index.html" /> <!--app外壳寻找的启动页面-->
    <access origin="*" /> <!--外部设备接口使用时相关配置-->
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreenDuration" value="2000"/>

    <!-- Ionic supports Android Jellybean and up -->
    <preference name="android-minSdkVersion" value="16" />

    <!-- Don't store local data in an iCloud backup. Turn this to "cloud" to enable storage
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
