<ion-view view-title="测试页面" id="guide">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="width: 100%;height: 100%;overflow: hidden;"><img style="width: 100%;height: 100%" src="img/guide/girl1.jpg" alt=""/></div>
        <div class="swiper-slide" style="width: 100%;height: 100%;overflow: hidden;"><img style="width: 100%;height: 100%" src="img/guide/girl2.jpg" alt=""/></div>
        <div class="swiper-slide" style="width: 100%;height: 100%;overflow: hidden;"><img style="width: 100%;height: 100%" src="img/guide/girl3.jpg" alt=""/>
          <a class="bt_go_home" href="#/tabs/home" >立即体验</a></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
</ion-view>


